<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <xacro:include filename="$(find ratf_description)/description/materials.xacro" />
  <xacro:include filename="$(find ratf_description)/description/5dpo@Factory_Assembly.trans" />
  <xacro:include filename="$(find ratf_description)/description/5dpo@Factory_Assembly.gazebo" />
  <link name="base_link">
    <inertial>
      <origin xyz="0.0037182274412763446 -0.015614849512951848 0.00508136528220369" rpy="0 0 0"/>
      <mass value="5.027219365157165"/>
      <inertia ixx="0.034406" iyy="0.025265" izz="0.026172" ixy="0.000847" iyz="-0.001255" ixz="-0.000148"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
      <geometry>
        <mesh filename="package://ratf_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
      <geometry>
        <mesh filename="package://ratf_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

</robot>
