<launch>

<rosparam file="$(find ratf_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="5dpo@Factory_Assembly" args="joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/5dpo@Factory_Assembly/joint_states"/>
</node>

</launch>
